<div class="home">
  <div class="top">
    <img src="/assets/sea-bg-3.jpg" alt="">
    <div class="content">
      <p>FLOW WITH IT</p>
    </div>
  </div>

  <div class="center">
    <!-- <div class="card">
      <ul>
        <li>
          <mat-card>
            <mat-card-header>
              <mat-card-title>Interior Tap</mat-card-title>
            </mat-card-header>
            <img src="/assets/Tap/faucet-interior-kitchen-sink-wallpaper-preview.jpg" width="360px">
            <mat-card-content>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit adipisci expedita, voluptatum est doloribus temporibus aperiam inventore eveniet doloremque qui, harum numquam, aliquid consequatur ipsum alias eaque voluptates modi assumenda. Suscipit illo nobis natus quasi dolore labore tenetur, blanditiis neque dolorum error cum, excepturi in perspiciatis nulla? Labore fugit, laudantium provident beatae exercitationem consequuntur debitis cum, eos id nemo mollitia.</p>
            </mat-card-content>
          </mat-card>
        </li>
        <li>
          <mat-card>
            <mat-card-header>
              <mat-card-title>Interior Tap</mat-card-title>
            </mat-card-header>
            <img src="/assets/Tap/faucet-interior-kitchen-sink-wallpaper-preview.jpg" width="360px">
            <mat-card-content>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit adipisci expedita, voluptatum est doloribus temporibus aperiam inventore eveniet doloremque qui, harum numquam, aliquid consequatur ipsum alias eaque voluptates modi assumenda. Suscipit illo nobis natus quasi dolore labore tenetur, blanditiis neque dolorum error cum, excepturi in perspiciatis nulla? Labore fugit, laudantium provident beatae exercitationem consequuntur debitis cum, eos id nemo mollitia.</p>
            </mat-card-content>
          </mat-card>
        </li>
      </ul>

    </div> -->

    <div class="card">
      <ul>
        <li>
          <div class="image">
            <img src="/assets/Tap/shower-1.jpg">
          </div>
          <div class="info">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima obcaecati quis ipsum. Delectus repellat, perspiciatis
              aut rem eaque esse placeat quisquam quis eligendi tenetur magni vitae unde eum repellendus quaerat?
            </p>
          </div>
        </li>
        <li>
          <div class="image">
            <img src="/assets/Tap/shower-5.jpg">
          </div>
          <div class="info">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima obcaecati quis ipsum. Delectus repellat, perspiciatis
              aut rem eaque esse placeat quisquam quis eligendi tenetur magni vitae unde eum repellendus quaerat?
            </p>
          </div>
        </li>
        <li>
          <div class="image">
            <img src="/assets/Tap/tap-1.jpg">
          </div>
          <div class="info">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima obcaecati quis ipsum. Delectus repellat, perspiciatis
              aut rem eaque esse placeat quisquam quis eligendi tenetur magni vitae unde eum repellendus quaerat?
            </p>
          </div>
        </li>
      </ul>

    </div>
    <!-- <div class="container">
      <div class="drop" style="--clr:#ff0f5b"></div>
      <div class="drop" style="--clr:#ff0f5b"></div>
      <div class="drop" style="--clr:#ff0f5b"></div>
    </div> -->
  </div>

  <footer>
    <div class="waves">
      <div class="wave" id="wave1"></div>
      <div class="wave" id="wave2"></div>
      <div class="wave" id="wave3"></div>
      <div class="wave" id="wave4"></div>
    </div>
    <ul class="social-icons">
      <li><mat-icon>facebook</mat-icon></li>
      <li><mat-icon>phone</mat-icon></li>
      <li><mat-icon>home</mat-icon></li>
      <li><mat-icon>email</mat-icon></li>
    </ul>
    <p>&#169;2015 Vishnu polymers | All Rights Reserved</p>
  </footer>
</div>
